.app-header-container {
  text-align: center;
  font-size: 25px;
  padding: 20px;
  font-weight: bolder;
  font-family: kanit-semibold;
  color: $mainColor;
  @include for-mobile-layout {
    padding-top: 10px;
    padding-bottom: 5px;
  }
}
