.app-header-container {
  text-align: center;
  font-size: 25px;
  //   background: linear-gradient(to right, #dce7f8, #eeeded);
  //   box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  padding: 20px;
  font-weight: bold;
}
