.country-preview-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  align-items: center;
  border-radius: 4px;
  cursor: pointer;
  padding: 10px;
  .country-name {
    width: 195px;
    font-size: 14px;
  }
  img {
    height: 30px;
  }
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    background: linear-gradient(to right, #fdfdfd, #e0eefc);
    border: none;
  }
}
