.live-search-container {
  margin: 10px 0;
  .search-wrapper {
    display: grid;
    grid-template-columns: 1fr 0.1fr;
    gap: 7px;
    input {
      padding: 20px 35px;
      display: flex;
      border: 1px solid $lightGray;
      border-radius: 4px;
      height: 50px;
      font-size: 16px;
      margin: 10px 0;
      @include for-tablet-layout {
        height: 40px;
      }
      @include for-mobile-layout {
        height: 30px;
        margin: 5px 0;
      }
      &:focus {
        border: 1px solid $lightGray;
        outline: none;
      }
    }
    span {
      padding: 7px;
      color: $israelBlue;
      font-weight: bold;
      @include for-tablet-layout {
        font-size: 14px;
      }
      @include for-mobile-layout {
        font-size: 10px;
        padding: 5px;
      }
    }
    .heart-icon {
      fill: $israelBlue;
      @include for-mobile-layout {
        display: none;
      }
    }
  }
  .search-icon {
    position: absolute;
    fill: #757575;
    margin-top: 17px;
    @include for-tablet-layout {
      margin-top: 13px;
    }
    @include for-mobile-layout {
      margin-top: 10px;
    }
  }
}
