@font-face {
  font-family: aboreto-regular;
  src: url('../../fonts/Aboreto-Regular.ttf');
}
@font-face {
  font-family: poppins-light;
  src: url('../../fonts/Poppins-Light.ttf');
}
@font-face {
  font-family: poppins-medium;
  src: url('../../fonts/Poppins-Medium.ttf');
}
@font-face {
  font-family: poppins-bold;
  src: url('../../fonts/Poppins-SemiBold.ttf');
}
