.main-layout {
  display: grid;
  grid-template-columns: minmax(0px, 1fr) minmax(auto, 1200px) minmax(0px, 1fr);

  > *:not(.full) {
    grid-column: 2;
  }
}

// GRIDS
.simple-cards-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 30px;
}
